* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(119, 119, 119);
    background: linear-gradient(to bottom right, rgb(48, 48, 48), rgb(29, 0, 17),  rgb(41, 0, 80));
}

.DIV_login {
    display: flex;
    flex-direction:column ;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 0.404);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.233);
    width: 400px;
    height: 450px;
}

.DIV_login > * {
    padding: 10px;
}

.DIV_login img {
    width: 100px;
    margin-top: 20px;
    opacity: 60%;
}

#INPT_Email, #INPT_Pass {
    border: 2px solid rgba(134, 134, 134, 0.404);
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 45px;
    border-radius: 5px;
    color: rgb(134, 134, 134, 0.404);
    font-size: 15px;
}

.BTN_Login {
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(134, 134, 134, 0.404);
    color: rgb(134, 134, 134, 0.404);
    border: 2px solid rgba(134, 134, 134, 0.404);
}

.BTN_Login:hover {
    cursor: pointer;
}